body {
  margin: 0;
  font-family: 'Lato', sans-serif,
      'Caveat', cursive,
      'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9f9ff;
}
